/*设置定css的编码*/
@charset "UTF-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}


/*去除input的框  ctrl + / */
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";/*新宋体*/
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*禁止缩放*/
textarea {
    resize: none;
}


/*让图片基线对齐*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";/*宋体 unicode*/
    color: #666;
    background: #fff;/*白色*/
}


/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* css骇客 */
.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*京东色*/
.col-red {
    color: #C81623 !important;
}


.w {
    width: 1210px;
    margin: 0 auto;
}



/*shortcut快捷导航start*/
.shortcut {
    height: 30px;
    background-color: #F1F1F1;
    line-height: 30px;
}

.shortcut .dt {   /*fl那个盒子的作用仅仅是为了让其左浮动 */
    padding: 0 25px 0 9px;
    position: relative;
}
.shortcut .dt i{     /*让外边的盒子先动，里边的盒子相当于是他的内容，字体可继承*/
    position: absolute;
    font:  400 15px/15px consolas;
    font-weight: 400;
    top: 12px;
    right: 5px;
    height: 8px;
    width: 15px;  /*需要给宽度，内容绝对定位，就没东西撑开了*/
    overflow: hidden;
}
.shortcut .dt s{    /*让里边的菱形移动到盒子的相应位置*/
    position: absolute;
    top:-7px;
}
.shortcut li{
    float: left;
    padding: 0 11px 0 10px;
    background-color:#F1F1F1;  /*为了让放大后也不会出现没有颜色*/
}
.shortcut .spacer{
    height: 12px;
    width: 1px;
    background-color: #DDD;
    padding: 0;
    margin-top: 9px;
}
.shortcut .iphone{
    padding:0 25px 0 25px;

}
.shortcut .iphone em{
    width: 15px;
    height: 19px;
    background: url(../images/jd2015img.png) no-repeat;
    position: absolute;
    top:5px;
    left:7px;
}
/*shortcut快捷导航end*/




/*京东top-banner开始*/
.top-banner{
   background-color: #D6D4D5;    /*因为版心有高度，所以就不用设高度*/
}
.top-banner .w{
    position: relative;
}
.top-banner .close-btn{
    height: 19px;
    width: 19px;
    background: url(../images/close-btn.png) no-repeat;
    position:absolute;
    top: 5px;
    right: 5px;
}
.top-banner .close-btn:hover{
    background-position: 0 -19px;
}
/*京东top-banner结束*/

/*正式nav开始*/
  .nav{
      /*height: 44px;*/
      border-bottom: 2px solid #B1191A;
      /*background-color: pink;*/


  }
.nav .category{
    height: 44px;
    width: 210px;
    z-index: 2;
    position: relative;
    float: left;

}
.nav .category .dt{
    height: 44px;
    width: 200px;
    background-color: #B1191A;
    padding-left: 10px;
    color: #fff;
    font: 16px/44px "microsoft yahei"
}
.nav .category .dd{
    height: 465px;
    width: 209px;
    border-left: 1px solid #B1191A;
    background-color: #C81623;

}
.nav .category .cat-item{
    padding-left: 10px;
    line-height: 31px;
    position: relative;
    font-size: 12px;
}
.nav .cat-item:hover{
    background-color: #fff;
}
.nav .cat-item:hover a{
    color:  #C81623;
}
.nav .category a{
    color: #fff;

}
.nav .category i{
    width: 7px;
    height: 14px;
    font: 9px/14px consolas;
    position: absolute;
    top: 11px;
    right: 11px;
    color: #fff;
}
.nav .re-nav{
    /*height: 44px;*/
    line-height: 44px;
    width: 750px;
    /*background-color: green;*/
    float: left;
    font-size: 16px;
    font-family: "microsoft yahei"
}

.nav .re-nav li{
    float: left;

    
}
.nav .re-nav a{
    height: 44px;
    padding: 0 20px;
    color: #333;
    display: inline-block;
}
.nav .re-nav a:hover{
    color: #C81623;
}
.nav .treasure{
    height: 44px;
    float: right;

}
.nav .treasure a{    /*占用文档流高度*/
    position: relative;
    top: -10px;
}
    /*正式nav结束*/


/*京东header开始*/
   .header{
       height: 100px;
       /*background-color: pink;*/
   }
   .header .logo {

       height: 80px;
       width: 362px;
       float: left;
       padding-top: 20px;

   }
.header .logo a{
    display:inline-block;
    width: 270px;
    height: 60px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -20000px;
}
.header .search{
    /*width: 538px;*/
    /*height: 61px;*/
    /*background-color: red;*/
    float: left;
    padding-top: 25px;
}
.header .search input{
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    border-right: 0 none;
    float: left;
    color: #666;
    font: 14px/32px "microsoft yahei";
    padding-left: 4px;
}
.header .search button{
    width: 82px;
    height: 36px;
    background: #B61D1D;
    float: left;
    color: #fff;
    font: 16px/36px "microsoft yahei";
}

.header .car{
    width: 96px;
    height: 34px;
    background-color: #F9F9F9;
    float: right;
    margin-top: 25px;
    margin-right: 65px;
    border: 1px solid  #DFDFDF;
    padding-left: 43px;
    line-height: 34px;
    position: relative;
}
.header .car .icon1{
    width: 17px;
    height: 14px;
    position: absolute;
    top: 10px;
    left: 19px;
    background: url(../images/jd2015img.png) no-repeat -1px -92px;
}
.header .car .icon2{
    min-width: 12px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    background-color: #C81623;
    border-radius: 7px 7px 7px 0;
    top: -4px;
    left: 104px;
    position: absolute;
    color: #fff;
    padding: 0 2px;
}
.header .car .icon3{
    font: 13px "simsun";
    position: absolute;
    width: 13px;
    height: 15px;
    top: 11px;      /*测量方法*/
    right: 8px;
}
.header .hotwords{
    float: left;

}
.header .hotwords li{
    float: left;
    margin-right: 10px;
    line-height: 30px;
}
/*京东header结束*/





/*footer start*/
 .footer{
     /*height: 469px;*/
     /*background-color: pink;*/
     margin-top: 30px;
 }
 .footer .footer-top{
     height: 297px;
     /*background-color: yellowgreen;*/
     margin-bottom: 30px;
 }
.footer .footer-bottom{
    /*height: 171px;*/
    /*background-color: skyblue;*/
    border-top: 1px solid #E5E5E5;
}
.footer .slogan{
    height: 94px;
    background-color: #f5f5f5;
    position: relative;
}
.footer .info{
    /*height: 186px;*/
    /*background-color: limegreen;*/
    padding-top: 16px;
    /*margin-bottom: 30px;*/
}

.footer .slogan .slogan-item{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
}
.footer .slogan .slogan1{
    margin-left: -604px;
}
.footer .slogan .slogan2{
    margin-left: -304px;
}
.footer .slogan .slogan4{
    margin-left: 304px;
}

.footer .info dl{
    float: left;
    width: 200px;
    /*background-color: pink;*/
}
.footer .info dt{

    font: 15px/35px "microsoft yahei";
}
.footer .info dd{
    line-height: 20px;
}
.footer .info .last{
    width: 100px;
}
.footer .coverage{
    float: right;
    width: 185px;
    height: 169px;
    background: url(../images/china.png) left bottom;
    margin-right: 40px;
    padding-left: 18px;
}
.footer .coverage .dt{
    font: 15px/35px "microsoft yahei";
}
.footer .coverage .dd .move{
    text-align: right;
}
.footer .coverage .dd{
    padding-top: 8px;
}
.footer .footer-bottom{
    text-align: center;
}
.footer .links{
    margin-top: 25px;
}
.footer .links a{
    margin: 0 6px;
}
.footer .copyright{
    margin-top: 16px;
}
.footer .auth{
    margin-top: 11px;
}
.footer .auth span{
    margin-right: 12px;
}
/*footer end*/